<div xmlns="http://www.w3.org/1999/html">
    <p>Bonjour XX,</p>
    <p>
        Veuillez cliquer sur le lien suivant pour passer votre test technique :
        <strong>www.clevertest/php.fr</strong>
    </p>
    <p>
        Ces tests sont conçus par nos consultants Clevermind.</br>
        Bonne chance,
    </p>
    <p>L’équipe Clevermind.</p>

</div>
