<div>
    <p>Bonjour XX,</p>
    <p>
Nous tenons a vous informer que le test suivant : <strong>www.clevertest/php.fr</strong> n’est plus
disponible.
    </p>
Merci de votre compréhension.
Bonne journée,
L’équipe Clevermind.
Ps : A voir si ce n’est pas trop compliqué d’insérer le nom du ou des candidats en
question. Si c’est trop complexe, on abandonne.