<header role="banner" id="top" class="navbar navbar-static-top bs-docs-nav">
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <img src="{{asset('images/clevermind/logo.png')}}" class="img-responsive"/>
                </div>
                <div class="col-xs-4">
                 <h1 class="text-center"></h1>
                </div>
                <div class="col-xs-4 text-right">  
                     {#Contenu apres connexion //TODO#}
                </div>
            </div>
        </div>
</header>