<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <link href="{{asset('images/clevermind/favicon.png')}}" rel="shortcut icon">
    <meta charset="UTF-8" />
    <link href="{{asset('css/bootstrap.css')}}" rel="stylesheet"/>
    <link href="{{asset('css/style.css')}}" rel="stylesheet"/>
    <link href="{{asset('css/jquery-ui.min.css')}}" rel="stylesheet"/>
</head>

<BODY>

{% block header %}
    {% include "header.html.twig" %}
{% endblock header %}

<div class="container">
    {% block fos_user_content %}
    {% endblock fos_user_content %}

    {% block content %}
    {% endblock %}
</div>
{% block js %}
{% endblock js %}
</body>
</html>
