<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link href="{{asset('bundles/selesuser/images/favicon.ico')}}" rel="shortcut icon"/>
    <title>CLEVERTEST</title>
    <link href="{{asset('bundles/selesuser/css/bootstrap.css')}}" rel="stylesheet"/>
    <link href="{{asset('bundles/selesuser/css/style.css')}}" rel="stylesheet"/>
</head>
<body>
{% block header %}
    {% include "header.html.twig" %}
{% endblock header %}
{% block fos_user_content %}
{% endblock fos_user_content %}
<div class="container">
    {% block content %}
        <div class="col-xs-3 vertBg borderTop">
            {% if is_granted("IS_AUTHENTICATED_FULLY")  %}
                {% if is_granted('ROLE_ADMIN')  %}
                    <div class="marginleft">
                        <!--Sidebar content-->
                        <ul class="nav nav-pills nav-stacked">
                            <li class="{% if activateItem is defined and activateItem == 1  %}active{% endif %}">
                                <a href="">
                                    Evaluations du jour
                                </a>
                            </li>
                            <li class="">
                                <a href="">
                                    Créer une évaluation
                                </a>
                            </li>
                            {% if is_granted('ROLE_SUPER_ADMIN') %}

                            {% endif %}
                            <li class="">
                                <a href="">
                                    Chercher une évaluation
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% endblock %}
</div>
{% block js %}
{% endblock js %}
</body>
</html>
