{% extends '::layout.html.twig' %}
{% block header %}
    {{parent()}}
{% endblock%}
{% block content %}
    <div class="row">
        page instruction
    </div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
        </div>
    </div>
{% endblock %}
