{% extends '::layout.html.twig' %}
{% block header %}
    {% set title = 'Instructions' %}
    {{parent()}}
{% endblock%}
{% block content %}
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>
                blabla blabla blabla blabla blabla blabla blabla blabla blablablablablabla blabla blabla blabla blabla blabla.
            </p>

            <p>
                Nous vous demandons de dire blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla ......
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <p class="text-center">
                <a href="" class="btn btn-default">
                    Demarrer l'exercice
                </a>
            </p>
        </div>
    </div>
{% endblock %}